@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model List<Application>

<table class="table table-bordered">
    <thead>
        <tr class="fw-bold">
            <td>Title</td>
            <td>Year</td>
            <td>Category</td>
            <td>Director</td>
            <td>Rating</td>
            <td>Edited</td>
            <td>LentTo</td>
            <td>CopiedToPlex</td>
            <td>Notes</td>
        </tr>

    </thead>
    @foreach (var x in Model)
    {
        <tbody>
            <tr>
                <td>@x.Title</td>
                <td>@x.Year</td>
                <td>@x.CategoryName</td>
                <td>@x.Director</td>
                <td>@x.Rating</td>
                <td>@x.Edited</td>
                <td>@x.LentTo</td>
                <td>@x.CopiedToPlex</td>
                <td>@x.Notes</td>

                <td><a class="btn btn-info" asp-asp-controller="Home" asp-action="Edit" asp-route-id="@x.MovieId">Edit</a></td>
                <td><a class="btn btn-danger" asp-asp-controller="Home" asp-action="Delete" asp-route-id="@x.MovieId">Delete</a></td>
            </tr>
            
        </tbody>
    }
    
</table>